{% extends "_tasks.html" %}
{% block box %}
	<h4 id="const" class="title is-3"><i class="fas fa-upload"></i> Import Recipe</h4>
	{% if error %}
		<article class="message is-danger">
			<span class="icon">
				<i class="fa fa-exclamation-triangle"></i>
			</span>
			<div class="message-body">
				{{ error }}
			</div>
		</article>
	{% endif %}
	<form action="{{ url_for('import_recipe_action') }}" method="POST" enctype="multipart/form-data">
		<div class="field">
			<label class="label">Recipe File</label>
			<div class="control">
				<input type="file" name="recipe" accept="{{ extension }}" required>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<button class="button is-link">Submit &nbsp;<i class="fas fa-chevron-right"></i></button>
			</div>
		</div>
	</form>
	{{ r }}
{% endblock box %}
