{% extends "_tasks.html" %}
{% block box %}
	<h4 id="const" class="title is-3">
		<i class="fas fa-bong"></i> Cyber<em>Alchemist</em> - The Cyber Swiss Army Knife
	</h4>
	<hr>
	<h5><i class="fas fa-check"></i> Your ultimate helper to analyze and decode arbitrary data</h5>
	<h5><i class="fas fa-check"></i> Build complex recipes consisting of multiple decoding steps</h5>
	<h5><i class="fas fa-check"></i> Win every CTF without any effort (including ENOWARS 3)</h5>
	<h5><i class="fas fa-check"></i> Make the cyberspace a better place</h5>
{% endblock box %}
