{% extends "_tasks.html" %}
{% block box %}
	<h4 id="const" class="title is-3"><i class="fas fa-list"></i> My Recipes</h4>
	{% if error %}
		<article class="message is-danger">
			<span class="icon">
				<i class="fa fa-exclamation-triangle"></i>
			</span>
			<div class="message-body">
				{{ error }}
			</div>
		</article>
	{% endif %}
	<table class="table">
		<tbody>
		{% for recipe_name in recipes %}
			<tr>
				<td>
					<i class="fas fa-file-invoice"></i>
					<a href="{{ url_for('show_recipe', recipe_name=recipe_name) }}">{{ recipe_name }}</a>
					<span style="float: right;">
						<a href="{{ url_for('show_recipe', recipe_name=recipe_name) }}"><i class="fas fa-edit"></i></a>
						<a href="{{ url_for('export_recipe', recipe_name=recipe_name) }}"><i class="fas fa-download"></i></a>
						<a href="{{ url_for('delete_recipe', recipe_name=recipe_name) }}"><i class="fas fa-trash-alt"></i></a>
					</span>
				</td>
			</tr>
		{% else %}
			You don't have recipes yet. Please create a new recipe or import an existing one.
		{% endfor %}
		</tbody>
	</table>
{% endblock box %}
